{% extends "shared/base.html" %}

{% block title %}
  <title>Ornamental Plant Detail</title>
{% endblock %}

{% block content %}
<div class="container">
      <h1 class="display-4 text-danger">Ornamental Plant Detail</h1>
      <table class="table">
        <tbody>
          <tr>
            <th scope="row">Ornamental Plant Title</th>
            <td>{{plant.english_name}}</td>
          </tr>
          <tr>
            <th scope="row">Family Name</th>
            <td>{{plant.family_name}}</td>
          </tr>
          <tr>
            <th scope="row">Wikipedia URL</th>
            <td>{{plant.wikipedia_url}}</td>
          </tr>
          <tr>
            <th scope="row">Description</th>
            <td>{{plant.description}}</td>
          </tr>
          <tr>
            <th scope="row">Location</th>
            <td>{{plant.location}}</td>
          </tr>
        </tbody>
      </table>

</div>

{% endblock %}
