{% extends "shared/base.html" %}

{% block title %}
  <title>{{plant.class_name}} - Ornaman</title>
{% endblock %}

{% block content %}
<div class="container">
      <h1 class="display-4 text-danger">{{plant.class_name}}</h1>
      <table class="table">
        <tbody>
          <tr>
            <th scope="row">Name:</th>
            <td>{{plant.class_name}}</td>
          </tr>
          <tr>
            <th scope="row">Family Name:</th>
            <td>{{plant.family_name}}</td>
          </tr>
          <tr>
            <th scope="row">Common Name:</th>
            <td>{{plant.common_name}}</td>
          </tr>
          <tr>
            <th scope="row">Taxonimic Data:</th>
            <td>{{plant.taxonomic_data_url}}</td>
          </tr>
          <tr>
            <th scope="row">Location:</th>
            <td>{{plant.location}}</td>
          </tr>
          <tr>
            <th scope="row">Description:</th>
            <td>{{plant.description}}</td>
          </tr>
          <tr>
            <th scope="row">Date Posted:</th>
            <td>{{plant.date_posted}}</td>
          </tr>
          <tr>
            <th scope="row">Status:</th>
            <td>{{plant.is_active}}</td>
          </tr>
          <tr>
            <th scope="row">Favorite By:</th>
            <td>{{plant.fav_plant_id}}</td>
          </tr>
          <tr>
            <th scope="row">Light:</th>
            <td>{{plant.light}}</td>
          </tr>
          <tr>
            <th scope="row">Water:</th>
            <td>{{plant.water}}</td>
          </tr>
          <tr>
            <th scope="row">Humidity:</th>
            <td>{{plant.humidity}}</td>
          </tr>
          <tr>
            <th scope="row">Temperature:</th>
            <td>{{plant.temperature}}</td>
          </tr>
          <tr>
            <th scope="row">Food:</th>
            <td>{{plant.food}}</td>
          </tr>
          <tr>
            <th scope="row">Toxicity:</th>
            <td>{{plant.toxicity}}</td>
          </tr>
          <tr>
            <th scope="row">Cares:</th>
            <td>{{plant.cares}}</td>
          </tr>
          <tr>
            <th scope="row">Fact:</th>
            <td>{{plant.fact}}</td>
          </tr>
          <tr>
            <th scope="row">Rec ID:</th>
            <td>{{plant.rec_id}}</td>
          </tr>
        </tbody>
      </table>

</div>

{% endblock %}
