{% extends "shared/base.html" %}

{% block title %}
  <title>Signup to Ornaman</title>
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <h3 small class="display-6 text-center">
      Signup to
      <small class="text-body-secondary text-success">Ornaman</small>
    </h3>
    <div class="text-danger font-weight-bold">
      {% for error in errors %}
      <li>{{error}}</li>
      {% endfor %}
    </div>
    <form method="POST">
      <div class="mb-3">
              <label>Name:</label>
              <input type="text" required class="form-control" name="name"
              value="{{name}}" placeholder="name">
          </div>
          <div class="mb-3">
            <label>email:</label>
            <input type="email" required class="form-control" name="email"
            value="{{email}}" placeholder="email">
        </div>
        <div class="mb-3">
            <label>Password:</label>
            <input type="password" required class="form-control" name="password"
            value="{{password}}" placeholder="password">
        </div>
        <button type="submit" class="btn btn-success">Register</button>
      </form>
    </div>
</div>

{% endblock %}
